.flex-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    min-height:100%;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../Resources/images/bg/Contanct.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    min-height: 100vh;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 2.75rem;
    word-spacing: 1rem;
    letter-spacing: .22em;
    text-align: center;
    color: #fff;
    background-color: #0D0B11;
    padding: 1rem 1rem 0;
    margin: 0;
}

h1::after {
    text-align: center;
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-image: radial-gradient(#ff0074 12%, #0D0B11 60%);
    margin-top: 1rem;
}

nav {
    position: sticky;
    top: 0;
    z-index: 5;
}

nav ul {
    font-family: 'Arial Rounded MT Bold';
    font-size: 1.35rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
    justify-items: center;
    padding: 1.5rem 0 1.5rem;
    background-color: #0D0B11;
}

nav ul li a:link {
    color: #919191;
    text-decoration: none;
}

nav ul li a:visited {
    color: #919191;
    text-decoration: none;
}

nav ul li a:hover {
    font-size: 1.4rem;
    color: #ff0074;
}

nav ul li a:active {
    font-size: 1.4rem;
    color: #ff0074;
}

.active a:link,
.active a:visited,
.active a:hover,
.active a:active{
    font-size: 1.4rem;
    color: #ff0074;
}

.reach {
    text-align: center;
    margin-top: 5rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.8rem;
}

.contacts {
    display: grid;
    grid-template-columns: repeat(5, 12vw);
    grid-template-rows: 50vh;
    text-align: center;
    justify-items: center;
    justify-content: space-around;
    align-items: stretch;
    margin: 6rem;
}


figure img {
    width: 6rem;
    height: 6rem;
}

.linkedin img {
    border-radius: 50%;
}

figure img:hover {
    width: 6.5rem;
    height: 6.5rem;
}

figure figcaption {
    display: none;
}

figure img:hover + figcaption{
    display: block;
    margin: 0.5rem auto;
    font-size: 1rem;
    text-align: center;
}

.contacts a:link,
.contacts a:visited {
    color: #ff0074;
    text-decoration: none;
}

.back-to-top {
    position: fixed;
    bottom: 0;
    right: 0.5rem;
}

.back-to-top img {
    width: 5vw;
    height: 5vw;
}

footer {
    margin-top: auto;
    display: flex;
    background-color: #0D0B11;
    padding: 1rem 1rem 1rem;
}

.name {
    margin-right: 25rem;
    font-size: 1.1rem;
    color: #ff0074;
    align-self: flex-start;
}

.copyright {
    margin-left: 35rem;
    font-size: .85rem;
    color: #fff;
    text-decoration: none;
    align-self: flex-end;
}

footer .name,
footer .copyright {
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}