@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url(../Resources/fonts/arlrdbd.ttf);
    src: url(../Resources/fonts/ArialRoundedMTBold.woff);
    src: url(../Resources/fonts/ArialRoundedMTBold.woff2);
}